body {
	background-color:black;
}
.main {
	background-color:white;
	margin-top:110px;
	padding-left:100px;
	min-width: 1200px;
	height:500px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	width:659px;
	height:494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display:none;
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat:no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width:156px;
	height:90px;
	display:none;
	position: relative;
	top: -316px;
	left:520px;
	float:left;
}
.text {
	width:250px;
	height:150px;
	margin-top:-350px;
	margin-right:auto;
	margin-left:auto;
	text-align:justify;
}
.text p {
	font-size:18px;
	font-family:Comic Sans MS;
}